<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <%- include ('./partials/messages')%>
        <h1>confirmed</h1>
        <p class="lead mt-4">
          Go back to login? <a href="/login">Login</a>
        </p>
      </div>
    </div>
  </div>
  