.full_div{
    background-image: url('../shared/img/Background.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    height:100vh;
}

.box{
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
    background: white;
}

.text-color{
	color: #000066!important;
}

input[type=password] {
    border-radius: 1em;
    background-color: #E6E6E6; 
    padding: 18px;
}