.my-nav {
    background-color: #020624!important;
}

.navbar-nav > .nav-item{
    padding-left:15px;
    padding-right:25px;
    margin-left:10px;
    margin-right:10px;
}

.nav-item > a{
    font-size: 18px;
    font-weight: bold;
}

#nav-dropdown-item{
    border-radius: 1em;
}

.dropdown-menu{
    border-radius: 1em!important;
    background-color: #020624!important;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color:#020624;
}

.dropdown-toggle::after {
    display: none !important;
}

.badge-notify{
    color: #020624;
    top: -10px; 
}