.my-nav {
    background-color: rgba(5, 6, 70, 1)!important;
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:25px;
    margin-left:10px;
    margin-right:10px;
}

.nav-item > a{
    font-size: 18px;
    font-weight: bold;
}

#nav-dropdown-item{
    border-radius: 1em;
}


.dropdown-menu{
    border-radius: 1em!important;
    background-color: rgba(5, 6, 70, 1)!important;
}


.dropdown-item:hover, .dropdown-item:focus {
    background-color:rgba(5, 6, 70, 1);
}

.dropdown-toggle::after {
    display: none !important;
}
  